<div class= brank></div>

<div class = "category-link">
  <div kategory-link_menu>
    <%= link_to '動物', '/photographs/_category_id', class:"category_name"%>
  </div>

    <div kategory-link_menu>
      <%= link_to '食べ物', '/photographs/category/3' %>
    </div>

  <div kategory-link_menu>
    <%= link_to '家族', '/photographs/category/4' %>
  </div>

  <div kategory-link_menu>
    <%= link_to '景色', '/photographs/category/5' %>
  </div>

  <div kategory-link_menu>
    <%= link_to '季節', '/photographs/category/6' %>
  </div>

  <div kategory-link_menu>
    <%= link_to '行事', '/photographs/category/7' %>
  </div>

    <div kategory-link_menu>
    <%= link_to '旅行', '/photographs/category/8' %>
  </div>

  <div kategory-link_menu>
    <%= link_to '仕事', '/photographs/category/9' %>
  </div>

  <div kategory-link_menu>
    <%= link_to '記念', '/photographs/category/10' %>
  </div>

  <div kategory-link_menu>
    <%= link_to 'その他', '/photographs/category/11' %>
  </div>
</div>


