<div class="wrapper">
    <%# サイドバー %>
    <div class="side-bar">
        <%#= render "side_bar" %>
      <div class=side-bar_menu>
         <% if user_signed_in? %>
         <div class="greeting">HELLO！</br>
         <%= link_to current_user.nickname, edit_user_path(current_user), class: "user-nickname" %>さん
         </div>
         <% end %>

        <div class="side-bar_search_link">
          <%= form_with(url: search_photographs_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "検索する", class: "search-form" %>
            <%= image_submit_tag('baseline_saved_search_black_24dp.png', class: "side-bar_search_icons")%>
          <% end %>
        </div>

        <div class="side-bar_link">
          <%= link_to(root_path) do %>
            <%= image_tag('collections_black_24dp.png', class: "side-bar_icons") %>
            写真一覧
          <% end %>
          </div>

        <div class="side-bar_link">
          <%= link_to search_photographs_path(@photograph_category_id) do %>
            <%= image_tag('category_black_24dp.png', class: "side-bar_icons") %>
            カテゴリー
          <% end %>
        </div>

        <div class="side-bar_link">
          <%= link_to(root_path) do %>
            <%= image_tag('folder_black_24dp.png', class: "side-bar_icons") %>
            フォルダ
          <% end %>
        </div>

        <div class="side-bar_link">
          <%= link_to(root_path) do %>
            <%= image_tag('menu_book_black_24dp.png', class: "side-bar_icons") %>
            日記一覧
          <% end %>
        </div>

        <div class="side-bar_link">
          <%= link_to(root_path) do %>
            <%= image_tag('bookmarks_black_24dp.png', class: "side-bar_icons") %>
            お気に入り
          <% end %>
        </div>
      </div>
    </div>

   <%# メイン　%>
    <div class="main">
        <div class="top_info">

          <% if user_signed_in? %>
             <div class= "Top">
              <div class="first-view">
                  <%= image_tag "TOP画像 (2).jpg" , class:"top-pic" %>
              </div>
             </div>


            <div class="photo-cards">
              <% @photographs.each do |photo| %>
                    <div class="photo-cards_content">
                        <div class="cards-date">
                           <%= photo.date %>
                        </div>
                      <%= link_to photograph_path(photo) do %>
                          <div class="card-images">
                              <% photo.images[0..-1].each do |image| %>
                                <div class="card-image">
                                  <%= image_tag image %>
                                </div>
                              <% end %>
                          </div>
                      <% end %>
                    </div>
              <% end %>
            </div>
            
          <% else %>
             <div class= "Top">
              <div class="first-view">
                  <%= image_tag "TOP画像 (2).jpg" , class:"top-pic" %>
              </div>
            </div>
          <% end %>  
        </div>

                <%# 投稿ボタン %>
                <%= link_to(new_photograph_path, class: 'purchase-btn') do %>
                  <%= image_tag('add_photo_alternate_white_48dp.png', size: '185x50', class: "purchase-btn-icon") %>
                <% end %>
    </div>
</div>
