<main class="main">
  <div class="inner">
    <div class="@photograph__wrapper">
      <p class="@photograph__hedding">
        <%= @photograph.title%>
      </p>

      <% if current_user == @photograph.user %>
        <div class="photograph__manage">
          <%= link_to "編集する", edit_photograph_path(@photograph), class: :photograph__btn %>
          <%= link_to "削除する", photograph_path(@photograph),method: :delete, class: :photograph__btn %>
        </div>
        <% else %>
          <div class="photograph__manage">
          <%= link_to "編集する", new_user_session_path, class: :photograph__btn %>
          <%= link_to "削除する", new_user_session_path, class: :photograph__btn %>
        </div>
      <% end %>

      <div class="photograph__image">
      <% if @photograph.images.attached? %>
       <div class="card-images">
            <% @photograph.images[0..-1].each do |image| %>
              <div class="card-image">
                <%= image_tag image %>
              </div>
            <% end %>
        </div>
        </div>
      <% end %>  

      <div class="photograph__body">
        <div class="@photograph__detail">
          <p class="detail__title">撮影日時</p>
          <p class="detail__message">
            <%= @photograph.date %>
          </p>
        </div>
        <div class="photograph__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @photograph.category.name %>
          </p>
        </div>
        <div class="photograph__detail">
          <p class="detail__title">日記</p>
          <p class="detail__message">
            <%= @photograph.daybook %>
          </p>
        </div>
        
      <% if user_signed_in? %>
        <% if current_user.id == @photograph.user.id %>
            <%= link_to "編集", edit_photograph_path, method: :get, class: "photograph-red-btn" %>
              <p class="or-text">or</p>
            <%= link_to "削除", photograph_path, method: :delete, class:"photograph-destroy" %>
        <% end %>
      <% else %>
      <% end %>
      
        
    </div>
  </div>
</main>
