<!DOCTYPE html>
<html>
  <head>
  <div class=header>
      <div class=title>PhotoBook<span class="material-icons md-48">add_a_photo</span>
    </div>
    <div class=sidber>
      <ul class=sidber_btn>
         <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, root_path, class: "user-nickname" %></li>
        <li><a><%= link_to ">> Log out", root_path, class:"btn btn-border" %></a></li>
      <% else %>
        <li><a><%= link_to ">> Log in", root_path, class:"btn btn-border" %></a></li>
        <li><a><%= link_to ">> Sign up", root_path, class:"btn btn-border" %></a></li>
    <% end %>
      </ul><br>
    </div>

  </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
