<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


        <div class="header">
    <div class="logo">
      <%= link_to(root_path, class: "title") do %>
          PhotoBook
        <%= image_tag('camera_white_48dp.png', resize: '18x18', class: "logo_icon") %>
      <% end %>
    </div>
    <div class="side-menu">
      <ul class="side-menu_btn">
         <% if user_signed_in? %>
        <li><a><%= link_to ">> Log out", destroy_user_session_path, method: :delete, class:"btn btn-border" %></a></li>
      <% else %>
        <li><a><%= link_to ">> Log in", new_user_session_path, class:"btn btn-border" %></a></li>
        <li><a><%= link_to ">> Sign up", new_user_registration_path, class:"btn btn-border" %></a></li>
    <% end %>
      </ul><br>
    </div>

  </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
